li {
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}
h1 {
  margin-top: 30px;
  color: blue;
}
form {
  margin-top: 20px;
  margin-bottom: 30px;
}
h2 {
  text-align: center;
  color: blue;
  text-transform: capitalize;
  margin: 0;
}
.temperature {
  font-size: 60px;
  font-weight: 600;
}
.unit {
  color: blue;
  font-size: 18px;
  position: relative;
  top: -32px;
  font-weight: 500;
  margin-left: 3px;
}
img {
  height: 110px;
  float: left;
}
